.block-icons__icon {
   width: 65.32px;
   height: 70px;
}
.block-icons {
   height: 120px;
   width: 270px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f5f4fa;
   border-radius: 4px;
   margin-bottom: 30px;
}
